body{
    background: maroon;
}
header{
    color: black  ;
    text-align: center;
    font-family: cursive, fantasy;
font-size: 50px;
}

.top{
    background-image: "https://startempathy.org/wp-content/uploads/2016/08/Screen-Shot-2016-08-11-at-12.50.01-PM.png";
}

hr{
    border-color: black;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.topnav {
    background-color: black;
    overflow: hidden;
    text-align: center;
}
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
    
  .topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}


.text{
   background-color:RGB(0,0,0);
    border: 3px solid white;
    border-style: solid;
    border-radius: 13px;
    text-align: center;
    color: white; 
    margin-top: 10px
    
}

#Quotes{
    text-align: center;
    color: RGB(0,0,0);
    font-size: 20px ;
    font-weight: bold;

    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .10em; /* Adjust as needed */
    animation: 
      typing 5.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black; }
  }
} 

hr{
    border: 3px solid black ;
}

footer p{
    text-align: center;
    display: block;
}


#img1{
    width: 100%;
    float: center;
    border-right: 10px solid black;
    border-left: 10px solid black;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    display: block;
 }

#img2{
  width: 100%;
  float: center;
  border-right: 10px solid black;
  border-left: 10px solid black;
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  display: block;
}

#img3{
  width: 100%;
  float: center;
  border-right: 10px solid black;
  border-left: 10px solid black;
  text-align: center;
  max-width: 500px;
  max-height: 500px;
  display: block;
}

#top_headline{
    display: inline-flex;
    text-align: right;
    
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#left1{
  font-weight: bolder;
  width: 30%;
  justify-content: flex-start;
  text-align: left;
  color: RGB(0,0,0);
  font-size: 20px; 
  }

#center_headline{
   display: inline-flex;
   text-align: right;
   
   width: 70%;
   margin-left: auto;
   margin-right: auto; 
}


#bottom_headline{
  display: inline-flex;
  text-align: right;
  
  width: 70%;
  margin-left: auto;
  margin-right: auto; 
}

#left3{
  font-weight: bolder;
  width: 30%;
  justify-content: flex-start;
  text-align: left;
  color: RGB(0,0,0);
  font-size: 20px; 
  }  

  #right{
    font-weight: bold;
    width: 50%;
    text-align: right;
      color: RGB(0,0,0);
      font-size: 20px;
  }

  
   






a{
   transition-duration: 1s;
}


a:hover{
    transition-duration: 1s;
    transform: scale(2)
}